body {
    font-family: arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 300px;
}

.text {
    color: yellow;
    width: 500px;
    font-size: 32px;
    transform: rotateX(20deg) translateY(700px) translateZ(50px);
    animation-name: move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: rotateX(20deg) translateY(700px) translateZ(50px);
    }
    to {
        transform: rotateX(20deg) translateY(-600px) translateZ(50px);
    }
}
